html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
html {
  font-size: 100%;
  color: #fff;
}
.index-background {
  background: url("../images/bg-70.jpg") no-repeat center center fixed;
  background-size: cover;
}
#container {
  width: 100%;
  height: auto;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6em;
}
#footer {
  width: 100%;
  height: 4em;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  text-align: center;
  color: #92b8b8;
  line-height: 3.9em;
  vertical-align: middle;
}
.social {
  vertical-align: middle;
  height: 4em;
  line-height: 4em;
}
.social img {
  vertical-align: middle;
}
#login {
  color: #fff;
  width: 20em;
  margin: 0 auto;
  padding-bottom: 4em;
  margin-top: 11em;
}
#login input {
  background-color: #e5fefe;
  width: 270px;
  padding-bottom: 1px;
  border-width: 0em;
  margin-bottom: 1px;
  line-height: 2em;
  margin-left: 0.25em;
  color: #1d5059;
  padding-left: 12px;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 200;
  height: 38px;
  border-bottom: 1px solid #51a7b6;
}
#login input::-webkit-input-placeholder {
  color: #577c81;
}
#inputUser {
  width: 100%;
  padding-bottom: 1px;
}
#inputPassword {
  width: 100%;
  border: 0em;
  padding: 0em;
  position: relative;
}
#inputPassword button {
  position: absolute;
  top: 0px;
  right: 15px;
  margin: 0.4em 0.5em;
  background-color: #93ebdb;
  border-radius: 0.25em;
  color: #fff;
  cursor: pointer;
  border: none;
  line-height: 180%;
  width: 33px;
  height: 33px;
  padding: 0;
  padding-left: 2px;
}
#productName {
  color: #c0fef3;
  background-color: #4d9da2;
  background-color: rgba(39,125,135,0.56);
  height: 1.3em;
  font-size: 15pt;
  font-family: 'Lato';
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  position: relative;
  width: 271px;
}
#productIcon {
  text-align: left;
  position: absolute;
  top: -0.2em;
  left: 0.166em;
}
#vaultaraLogo {
  color: #fff;
  font-size: 4em;
  text-transform: lowercase;
  text-align: center;
  text-shadow: 0.03em 0.03em #6ca6a6;
}
.login {
  padding-top: 2em;
  font-size: 22px;
}
#homeLogo {
  color: #fff;
  font-size: 6em;
  text-transform: lowercase;
  text-align: center;
  text-shadow: 0.03em 0.03em #6ca6a6;
}
#topNav {
  line-height: 300%;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  top: 0;
}
#topNav li {
  display: inline;
}
#topNav .active {
  color: #00aa9d;
}
#topNav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
  padding: 0.833em 1.66em;
  font-family: 'Lato';
  font-weight: normal;
}
#circleContainer {
  display: inline-block;
  padding-top: 2%;
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}
.circleChoice {
  display: inline-block;
  border-radius: 50%;
  margin: 1em 0.5em;
  behavior: url("PIE.php");
  width: 12em;
  height: 12em;
  background: #f8f8f8;
  border: 0.5em solid #f8f8f8;
}
.circleChoice:hover {
  background-color: #cdfff8;
  border: 0.5em solid #cdfff8;
}
.circleChoice img {
  height: 2.66em;
  width: auto;
  padding: 0.416em 0em 0.416em 0em;
}
.circleChoiceHeader {
  font-weight: bold;
  font-size: 1.1em;
  color: #252525;
  text-transform: uppercase;
  padding: 1.5em 0em 0.83em 0em;
}
.circleChoiceDesc {
  font-family: Lato;
  font-size: 0.95em;
  color: #363636;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5em;
}
#companyBanner {
  padding: 0.5% 0%;
}
.noDecoration,
a:link,
a:visited {
  text-decoration: none;
  color: #f8f8f8;
}
#progressBar {
  position: relative;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
#progressBar img {
  display: inline;
  height: 1em;
  width: auto;
  padding: 0.25em;
}
.right {
  text-align: right;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .send-header {
    height: 115px;
  }
  .data-table thead .header-row {
    font-weight: bold !important;
  }
}
/*
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=4.3.0");
  src: url("../font/fontawesome-webfont.eot?v=4.3.0#iefix&") format('embedded-opentype'), url("../font/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("../font/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("../font/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: 0.3em;
}
.fa.pull-right {
  margin-left: 0.3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.fa-rotate-180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.fa-rotate-270 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.fa-flip-horizontal {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.fa-flip-vertical {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #fff;
}
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-genderless:before,
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.home-background {
  background: url("../images/home-background.jpg") no-repeat center center fixed;
  background-size: cover;
}
.home-banner {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 37px;
}
#home-logo-image {
  width: 300px;
}
.banner-background {
  height: 150px;
  background: url("../images/home-background.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.send-banner {
  text-align: center;
}
#send-logo-image {
  width: 200px;
  margin-top: 3.7em;
}
.send-container {
  width: 100%;
  background-color: #f2f2f0;
}
.send-container::-webkit-scrollbar,
display none,
.send-header {
  height: 115px;
  background-color: #f7f7f7;
}
#send-icon {
  width: 35px;
  padding-right: 8px;
  position: relative;
  top: 4px;
}
.header-text {
  font-family: 'Lato';
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 34px;
  color: #000;
  text-align: center;
  font-weight: normal;
}
#send-head {
  padding-top: 40px;
  padding-bottom: 40px;
}
.send-subHeader {
  height: 66px;
  background-color: #ebebe7;
  color: #000;
  text-align: center;
  position: relative;
}
.step-text {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  color: #51c6b2;
  padding-top: 22px;
}
.step-circle {
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  behavior: url("PIE.php");
  width: 26px;
  height: 26px;
  font-family: "Lato";
  font-size: 24px;
  background: #51c6b2;
  position: relative;
  z-index: 0;
  text-align: center;
}
.send-filter-text {
  display: inline-block;
  font-weight: bold;
  padding-left: 8px;
  position: relative;
  bottom: 1px;
}
.instruction-text {
  font-style: italic;
  font-weight: 400;
  padding-left: 6px;
  font-size: 15px;
  position: relative;
  bottom: 1px;
}
.step2-item {
  display: inline;
  float: right;
  position: relative;
  right: 20px;
  opacity: 0.5;
}
.form-container {
  margin-top: 30px;
}
#form-send-id {
  width: 370px;
  margin: 0 auto;
}
.srcTag {
  color: #496b71;
  font-size: 19px;
  float: left;
  line-height: 2.9em;
  position: relative;
}
.send-input {
  padding-left: 8px;
  font-family: 'Lato';
  font-weight: lighter;
  color: #4f6f75;
  font-size: 18px;
  width: 273px;
  height: 36px;
  display: block;
  float: right;
  margin: 7px;
  border: 2px solid #abdeda;
}
.styled-select {
  margin: 7px;
  float: right;
  width: 282px;
  height: 42px;
  overflow: hidden;
  background: url("../images/list-arrow-sm.png") no-repeat right #ddd;
  background-position: 97% 56%;
  border: 2px solid #abdeda;
  background-color: #eff9f8;
}
.styled-select select {
  background: transparent;
  width: 140%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 41px;
  -webkit-appearance: none;
  position: relative;
  z-index: 0;
  font-size: 18px;
  padding-left: 8px;
  color: #8c8f8f;
}
.styled-select select option {
  font-family: "Lato";
}
#send-button {
  width: 286px;
  height: 40px;
  display: block;
  float: right;
  margin: 7px;
  border: 2px solid #00a59d;
  font-size: 19px;
  color: #fff;
  font-family: 'Lato';
  background: #00a59d;
}
#submit-img {
  width: 21px;
  position: relative;
  top: 1px;
  left: 6px;
}
@media screen and (max-width: 768px) {
  .send-input {
    width: 286px;
    box-shadow: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: none;
  }
}
.step1-item {
  display: inline;
  float: left;
  position: relative;
  left: 20px;
  opacity: 0.5;
}
#step-checked-img {
  width: 27px;
  position: relative;
  top: 3px;
  left: 4px;
}
.send-2-container {
  margin-top: 0;
}
.table-container {
  background: #fff;
}
.table-container::-webkit-scrollbar {
  display: none;
}
.data-form {
  padding: 0;
}
.data-table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.data-table thead {
  background: #939898;
}
.data-table thead .header-row {
  height: 70px;
  font-weight: 400;
  text-align: left;
}
.data-table thead .header-row th {
  padding-top: 27px;
  padding-left: 25px;
  text-align: left;
}
.data-table .data-row {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #f2f2f0;
  background-color: #f2f2f0;
  color: #000;
  font-family: "Lato";
  font-weight: 400;
}
@-moz-document url-prefix() {
  .data-table .data-row td {
    padding-top: 0;
  }
}
.data-table .data-row td {
  height: 25px;
  padding-left: 25px;
  padding-top: 10px;
}
.data-table .data-row:nth-child(2n) {
  background: #ebebe7;
}
.data-table .data-row:hover {
  background: #cfeae7;
  background-color: #cfeae7;
}
.data-table .table-footer .footer-row {
  height: 164px;
  background: #ebebe7;
}
.data-table .filler-col {
  width: 18%;
  opacity: 0.5 !important;
}
@-moz-document url-prefix() {
  .data-table #data-row td {
    padding-top: 0;
  }
}
.check-input {
  display: none;
}
.shell {
  pointer-events: none;
}
.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url("../images/small-checkbox.png") no-repeat;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
}
.checkbox.is-checked {
  background: url("../images/small-checkedbox.png") no-repeat;
}
.checkboxRow {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url("../images/small-checkbox.png") no-repeat;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
}
.checkboxRow.is-checked {
  background: url("../images/small-checkedbox.png") no-repeat;
}
.highlight-green {
  background: #cfeae7 !important;
  background-color: #cfeae7 !important;
}
.button-form-wrapper {
  display: none;
  position: fixed;
  left: 0;
  bottom: 64px;
  width: 100%;
  height: 164px;
  text-align: center;
  background: transparent url("../images/table-fade-out.png") repeat-x center top;
}
.button-form-wrapper .submit-data {
  opacity: 1;
  height: 45px;
  width: 200px;
  position: relative;
  top: 58px;
  background: #00a59d;
  background-color: #00a59d;
  color: #fff;
  font-family: Lato;
  font-weight: 600;
  border: none;
  font-size: 22px;
}
.odd {
  background: #ebebe7;
}
.hover_state {
  background: #cfeae7;
  background-color: #cfe;
}
@media all and (max-width: 1024px) {
  .data-table .filler-col {
    width: 0 !important;
  }
}
.send-subheader {
  position: relative;
  height: 66px;
  color: #000;
  background: #ebebe7;
}
.subheader-left-item,
.subheader-right-item {
  position: absolute;
  top: 0;
  width: 152px;
  text-align: center;
  opacity: 0.5;
}
.subheader-left-item {
  left: 0;
}
.subheader-right-item {
  right: 0;
}
.subheader-center-item {
  margin: 0 auto;
  padding: 0 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
@media all and (max-width: 768px) {
  .subheader-center-item {
    padding-left: 0px;
  }
}
.bolded {
  font-weight: bold;
}
.send-3-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.send-3-container .form-3-content {
  padding-top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.send-3-container .form-3-content .upper-form {
  width: 63%;
  margin-right: auto;
  margin-left: auto;
}
.send-3-container .form-3-content .upper-form .form-section {
  margin-top: 25px;
}
.send-3-container .form-3-content .upper-form .form-section .form-label {
  color: #35636a;
  font-size: 20px;
  font-weight: 300;
  margin-right: 32px;
}
.send-3-container .form-3-content .upper-form .form-section .send {
  margin-right: 101px;
}
.send-3-container .form-3-content .upper-form .form-section .receive {
  margin-right: 80px;
}
.send-3-container .form-3-content .upper-form .form-section .sender {
  color: #35636a;
  font-size: 20px;
  font-weight: 400;
}
.send-3-container .form-3-content .upper-form .form-section .form-input {
  width: 340px;
  height: 40px;
  border: 2px solid #7eccc8;
  font-size: 20px;
  color: #35636a;
  padding-left: 10px;
  font-family: 'Lato';
}
.send-3-container .form-3-content .upper-form .permissions {
  color: #35636a;
  font-weight: bold;
}
.send-3-container .form-3-content .upper-form .permissions .perm-label {
  display: inline;
  margin-right: 24px;
}
.send-3-container .form-3-content .upper-form .permissions-box {
  display: inline;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-left {
  width: 111px;
  height: 80px;
  background: #b3e1dc;
  display: inline-block;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-left .header-section {
  background: #72c5be;
  text-align: center;
  height: 30px;
  line-height: 2.1em;
  color: #fff;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: normal;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-left .check-container {
  position: relative;
  top: 16px;
  text-align: center;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-right {
  background: #b3e1dc;
  width: 240px;
  height: 80px;
  display: inline-block;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-right .header-section {
  background: #72c5be;
  text-align: center;
  height: 30px;
  line-height: 2.1em;
  color: #fff;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: normal;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-right .check-container {
  position: relative;
  top: 16px;
  text-align: center;
}
.send-3-container .form-3-content .upper-form .permissions-box .perm-right .check-container .viewer-text {
  margin-right: 14px;
}
.send-3-container .form-3-content .lower-form {
  margin-top: 26px;
  width: 63%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 259px;
}
.send-3-container .form-3-content .lower-form .medical-file {
  max-width: 700px;
  margin: 2px 0;
}
.send-3-container .form-3-content .lower-form .medical-file .file-section {
  height: 42px;
  background: #e3e5e0;
  display: inline-block;
}
.send-3-container .form-3-content .lower-form .medical-file .file-section .med-text {
  margin-left: 16px;
  font-size: 18px;
  color: #35636a;
  font-weight: 400;
  position: relative;
  top: 12px;
}
.send-3-container .form-3-content .lower-form .medical-file .one {
  width: 38%;
}
.send-3-container .form-3-content .lower-form .medical-file .two {
  width: 23%;
  margin-left: -2px;
}
.send-3-container .form-3-content .lower-form .medical-file .three {
  width: 38%;
  margin-left: -2px;
}
.send-3-container .form-3-content .lower-form .medical-file .three a .expand-button {
  position: relative;
  float: right;
  right: 18px;
  top: 6px;
  background: #2ca4a6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  behavior: url("PIE.php");
  z-index: 0;
}
.send-3-container .form-3-content .lower-form .medical-file .three a .expand-button span {
  position: relative;
  font-size: 29px;
  font-weight: 400;
  left: 6px;
  bottom: 1px;
}
@-moz-document url-prefix() {
  .send-3-container .form-3-content .lower-form .medical-file .three a .expand-button span {
    top: 0px;
  }
}
.send-3-container .form-3-content .lower-form .text-section {
  max-width: 700px;
  margin-top: 25px;
  color: #393939;
  font-size: 14px;
}
.send-3-container .form-3-content .lower-form .term-section {
  max-width: 700px;
  margin-top: 15px;
  background: #c6e9e5;
  height: 42px;
}
.send-3-container .form-3-content .lower-form .term-section span {
  font-size: 14px;
  color: #393939;
  font-weight: 400;
}
.send-3-container .form-3-content .lower-form .term-section .term-elements {
  position: relative;
  top: 12px;
  margin-left: 15px;
}
.submit-wrapper {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 64px;
  height: 100px;
}
.submit-wrapper .submit-form {
  height: 38px;
  width: 200px;
  background: #7e7e7e;
  background-color: #7e7e7e;
  color: #fff;
  font-family: Lato;
  font-weight: 600;
  border: none;
  font-size: 18px;
}
.submit-wrapper .submit-form.is_enabled {
  background: #00a59d;
}
@media all and (max-width: 1189px) {
  .send-3-container .form-3-content .lower-form .term-section span {
    font-size: 13px;
  }
}
@media all and (max-width: 1189px) {
  .send-3-container .form-3-content .lower-form .term-section span {
    font-size: 11px;
  }
}
@media all and (max-width: 961px) {
  .send-3-container .form-3-content .upper-form {
    width: 92%;
  }
  .send-3-container .form-3-content .lower-form {
    width: 92%;
    padding-left: 0;
  }
  .send-3-container .form-3-content .lower-form .term-section .term-elements span {
    padding-top: 50px;
  }
}
@media all and (max-width: 823px) {
  .send-container {
    top: 195px;
  }
}
@media all and (max-width: 768px) {
  .send-container .instruction-text {
    font-size: 11px;
  }
}
.send-confirmation-head {
  width: 100%;
  height: 55px;
  background: #eeeeea;
  text-align: center;
}
.confirm-head {
  font-size: 24px;
  font-weight: normal;
  color: #6ad9c8;
  padding-top: 17px;
  text-transform: uppercase;
}
.send-confirmation-message {
  font-size: 16px;
  color: #363636;
  font-weight: normal;
  text-align: center;
}
.confirm-message-head {
  font-size: 24px;
  font-weight: bold;
  padding-top: 54px;
  padding-bottom: 13px;
}
.confirm-message-body {
  font-style: italic;
}
.send-medical-sub {
  color: #000;
  text-align: center;
  height: 66px;
  margin-bottom: 40px;
  background-color: #ebebe7;
}
.send-medical-select {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 25px;
}
.send-medical-select2 {
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
}
.send-medical-container {
  width: 286px;
  margin: 0 auto;
}
.send-medical-container #send-button {
  background: #26b8a7;
  border: 1px #26b8a7 solid;
}
.select-file {
  color: #4f6f75;
  font-size: 18px;
  font-family: 'Lato';
  font-weight: lighter;
  width: 273px;
  height: 36px;
  padding-left: 8px;
  margin: 7px;
  border: 2px solid #abdeda;
  background: #c8ebe4;
  display: block;
  position: relative;
  float: right;
}
.select-file h5 {
  font-weight: normal;
  padding-top: 9px;
}
.select-file .step-circle {
  right: 8px;
  top: 5px;
  position: absolute;
  background: #26b8a7;
}
.select-file .step-circle p {
  font-size: 24px;
  font-weight: 400;
  padding-left: 1px;
  padding-top: 1px;
}
.send-header h2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .select-file .step-circle p {
    padding-top: 0px;
    padding-left: 0px;
  }
}
.send-background {
  background: #f2f2f0;
}
.send-medical-background {
  background: #f4f4f2;
}
.logo-container {
  padding-top: 2em;
  margin-bottom: 25px;
  text-align: center;
}
#logo-image {
  width: 86%;
}
#form-id {
  text-align: center;
  padding-top: 1em;
}
.login-msg-container {
  padding-left: 20px;
}
.pswd-recovery {
  padding-top: 2em;
  font-size: 15px;
}
.recovery-container {
  padding-right: 15px;
}
.button1 span {
  font-size: 2.4em;
  position: relative;
/*padding-left: 2px;*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button1 span {
    font-size: 1.8em !important;
    right: 1px !important;
  }
  #inputPassword .button1 {
    top: -2px;
  }
}
@media screen and (max-width: 768px) {
  button.button1 {
    padding: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 820px) {
  #topNav a {
    padding: 0.833em 1.45em;
  }
}
.admin-user-banner {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 59px;
}
#admin-user-logo-image {
  width: 200px;
}
#topnav {
  font-family: "Lato";
}
.admin-user-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 4em;
  top: 150px;
  background-color: #f4f4f2;
}
.admin-user-header {
  height: 115px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
#admin-user-icon {
  width: 49px;
  margin: 0 auto;
  position: relative;
  top: 2px;
  padding-right: 8px;
}
.header-text {
  font-size: 28px;
  text-align: center;
}
.admin-user-header-text {
  display: inline-block;
  font-size: 28px;
  color: #000;
  position: relative;
  bottom: 7px;
}
.admin-user-manage {
  width: 720px;
  margin: 0 auto;
  padding-bottom: 11px;
  padding-top: 40px;
  font-size: 13px;
  color: #c0c9cc;
  font-weight: 400;
}
#manage-option {
  display: inline-block;
  color: #a1b1b0;
  font-weight: 400;
}
#PersonTableContainer {
  width: 720px;
  margin: 0 auto;
}
.ui-dialog .ui-dialog-titlebar {
  background: #00a2b4;
  color: #f2ffff;
  border-radius: 0;
  border: none;
}
.ui-dialog-buttonset {
  width: 173px;
}
.ui-dialog .ui-dialog-buttonpane button {
  width: 82px;
  border: none;
  border-radius: 0;
  color: #f2ffff;
  background: #4cbdc0;
  margin: 0;
  float: left;
  height: 35px;
  margin-top: 9px;
}
.ui-button-text-only .ui-button-text {
  padding: 0 !important;
}
#AddRecordDialogSaveButton {
  width: 81px;
  border: none;
  border-radius: 0;
  color: #f2ffff;
  background: #4cbdc0;
  margin: 0;
  margin-top: 9px;
  float: right;
}
.admin-banner {
  text-align: center;
}
#admin-logo-image {
  width: 200px;
}
.admin-container {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 4em;
  top: 150px;
  background-color: #f4f4f2;
}
#topNav li a {
  font-family: "Lato";
}
.admin-header {
  height: 115px;
  background-color: #f7f7f7;
}
#admin-head {
  padding-top: 37px;
  padding-bottom: 34px;
  font-size: 28px;
}
#admin-icon {
  width: 49px;
  position: relative;
  padding-right: 8px;
  top: 2px;
}
.admin-header-text {
  display: inline-block;
  position: relative;
  bottom: 8px;
}
.admin-body {
  height: 100%;
  text-align: center;
}
.choices {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 50px;
  font-family: "Lato";
}
.choice {
  height: 32px;
  margin-bottom: 3px;
  background-color: #e8e9e5;
}
.choicelink {
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.choicelink a {
  color: #28565e;
}
.choicelink a:hover {
  color: #00c5b7;
}
.receive-background {
  background: #f5f5f3;
}
.receive-banner {
  text-align: center;
}
#receive-logo-image {
  width: 200px;
}
.receive-container {
  width: 100%;
  height: 100%;
  background-color: #f4f4f2;
}
.receive-header {
  height: 115px;
  background-color: #f7f7f7;
}
#receive-icon {
  width: 49px;
  position: relative;
  top: 1px;
  padding-right: 8px;
}
.header-text {
  font-size: 28px;
  color: #282828;
  text-align: center;
}
.receive-header-text {
  display: inline-block;
  position: relative;
  bottom: 11px;
  font-family: "Lato", "helvetica", sans-serif;
  font-weight: normal;
}
#receive-text-head {
  padding-top: 32px;
  padding-bottom: 33px;
  font-weight: 700;
}
.receive-body {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.receive-body form {
  width: 260px;
  margin: 0 auto;
  padding-top: 0;
}
.receive-content-text {
  font-size: 13px;
  color: #535353;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 20px;
}
.receive-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Lato';
  font-size: 18px;
  color: #13474f;
  font-weight: 300;
  padding-left: 15px;
  width: 232px;
  height: 34px;
  border: 2px #6ad9c8 solid;
  border-radius: 1px;
  margin-bottom: 8px;
}
.receive-authorize {
  border-radius: 1px;
  background-color: #6ad9c8;
  width: 252px;
  height: 38px;
  margin: 0 auto;
}
.receive-authorize-text {
  float: left;
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
}
#receive-arrow {
  float: right;
  height: 17px;
  padding-left: 8px;
  position: relative;
  top: 1px;
}
.audit-background {
  background: #f7f7f7;
}
.audit-banner {
  text-align: center;
}
#audit-logo-image {
  width: 200px;
}
.audit-container {
  width: 100%;
  min-height: 100%;
  background-color: #f8f8f8;
  bottom: 4em;
  top: 150px;
  padding-bottom: 150px;
}
.audit-header {
  height: 115px;
  background-color: #f8f8f8;
  margin: 0 auto;
}
#audit-icon {
  width: 35px;
  margin-right: 8px;
  margin-left: 12px;
  position: relative;
  top: 4px;
}
.audit-header-title {
  width: 656px;
  padding-top: 34px;
  margin: 0 auto;
}
.audit-header-text {
  display: inline-block;
  font-size: 28px;
  color: #000;
  position: relative;
  font-weight: 400;
  bottom: 7px;
}
.audit-body {
  width: 656px;
  background-color: #fff;
  margin: 0 auto;
}
.audit-content-head {
  height: 33px;
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 2px #e6eae9;
  background: #ebebe7;
}
.audit-content-head.is-active {
  background: #6ec5c1;
  text-align: left;
}
.audit-content-head.is-active .audit-content-head-title {
  color: #f8f8f8;
}
.audit-content-head .audit-content-head-title {
  padding-top: 10px;
  padding-left: 20px;
  float: left;
  color: #7d7d7d;
  text-align: left;
}
.audit-content {
  display: none;
  text-align: left;
  padding-top: 0;
  padding-left: 20px;
  padding-bottom: 25px;
}
.audit-content.is-open {
  display: block;
  text-align: left;
}
#audit-content-title {
  color: #6a6a6a;
  padding-top: 25px;
  font-weight: normal;
}
#audit-content-info {
  color: #7d7d7d;
  font-family: "Lato-Light", "Lato";
  padding-top: 14px;
  font-weight: light;
}
#audit-content-info-alt {
  font-size: 12px;
  color: #7d7d7d;
  font-family: "Lato-Light", "Lato";
  padding-top: 10px;
  font-weight: light;
}
.audit-drawer {
  padding-bottom: 6px;
}
.audit-circle {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  width: 23px;
  height: 23px;
  background: #65daca;
  margin-top: 6px;
  border-radius: 50%;
  behavior: url("PIE.php");
  float: right;
  position: relative;
  right: 13px;
  z-index: 0;
}
.audit-circle.is-active {
  background: #fff;
}
.audit-circle h2 {
  font-size: 30px;
  line-height: 0.6em;
  position: relative;
  left: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.audit-circle #circle-symbol {
  display: none;
  color: #1d959d;
  font-size: 41px;
  line-height: 0.6em;
  position: relative;
  left: 4px;
  bottom: 3px;
  cursor: pointer;
}
.audit-circle #circle-symbol2 {
  display: inline;
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  position: relative;
  bottom: 1px;
  left: 5px;
  cursor: pointer;
}
.audit-circle.is-active #circle-symbol {
  display: inline;
}
.audit-circle.is-active #circle-symbol2 {
  display: none;
}
.audit-circle-alt {
  display: inline-block;
  background: #fff;
  width: 22px;
  height: 22px;
  background: #65daca;
  behavior: url("PIE.php");
  margin-top: 6px;
  border-radius: 50%;
  float: right;
  position: absolute;
  right: 13px;
  z-index: 0;
}
.audit-circle-alt h2 {
  font-size: 22px;
  line-height: 1em;
  position: absolute;
  left: 4px;
}
@-moz-document url-prefix() {
  #circle-symbol {
    top: 0px;
  }
  #circle-symbol2 {
    top: 0px;
  }
}
