.receive-background
  background #F5F5F3


.receive-banner
  text-align center


#receive-logo-image
  width 200px


.receive-container
  width 100%
  height 100%
  background-color #F4F4F2


.receive-header
  height 115px
  background-color #F7F7F7


#receive-icon
  width 49px
  position relative
  top 1px
  padding-right 8px


.header-text
  font-size 28px
  color #282828
  text-align center


.receive-header-text
  display inline-block
  position relative
  bottom 11px
  font-family "Lato", "helvetica", sans-serif
  font-weight normal

#receive-text-head
  padding-top 32px
  padding-bottom 33px
  font-weight 700


.receive-body
  width 400px
  margin 0 auto
  text-align center

  form
    width 260px
    margin 0 auto
    padding-top 0


.receive-content-text
  font-size 13px
  color #535353
  font-weight normal
  font-style italic
  text-align center
  padding-top 32px
  padding-bottom 20px


.receive-input
  -webkit-appearance none
  -moz-appearance none
  appearance none
  font-family 'Lato'
  font-size 18px
  color #13474F
  font-weight 300
  padding-left 15px
  width 232px
  height 34px
  border 2px #6AD9C8 solid
  border-radius 1px
  margin-bottom 8px


.receive-authorize
  border-radius 1px
  background-color #6AD9C8
  width 252px
  height 38px
  margin 0 auto


.receive-authorize-text
  float left
  font-weight 400
  font-size 18px
  padding-top 10px
  padding-left 12px
  padding-bottom 10px


#receive-arrow
  float right
  height 17px
  padding-left 8px
  position relative
  top 1px




