/* Landing Page Styles*/

#productName {
	line-height: 1.5em !important;
}


#inputPassword button {
	top: -3px;
	right: 12px;
	width: 40px;
	height: 39px
}

/*Login Styles*/

#login input {
  	line-height: 2.5em !important;
  }