.logo-container {
	padding-top: 2em;
	margin-bottom: 25px;
	text-align: center;
}

#logo-image {
	width: 86%;
}

#form-id {
	text-align: center;
	padding-top: 1em;
}

.login-msg-container {
	padding-left: 20px
}

.pswd-recovery {
	padding-top: 2em;
	font-size: 15px;
}

.recovery-container {
	padding-right: 15px;
}

.button1 span {
	font-size: 2.4em;
	position: relative;
	/*padding-left: 2px;*/
}

/*IE 10/11 Styles*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.button1 span {
		font-size: 1.8em !important;
		right: 1px !important;
	}

	#inputPassword .button1 {
		top: -2px;
	}


//   #login input {
//   	line-height: 2.5em !important;
//   }

//   #productName {
// 		line-height: 1.5em !important;
// 	}

// }

@media screen and (max-width: 768px)
	button.button1
		padding 0px
		right 0px