.send-confirmation-head
  width 100%
  height 55px
  background #EEEEEA
  text-align center


.confirm-head
  font-size 24px
  font-weight normal
  color #6AD9C8
  padding-top 17px
  text-transform uppercase


.send-confirmation-message
  font-size 16px
  color #363636
  font-weight normal
  text-align center



.confirm-message-head
  font-size 24px
  font-weight bold
  padding-top 54px
  padding-bottom 13px


.confirm-message-body
  font-style italic

