/* Landing Page Styles*/

#productName {
	/*line-height: 1.5em;*/
}

/*
#inputPassword button {
	top: -3px;
	right: 12px;
	width: 40px;
	height: 39px
}*/

/*Login Styles*/

#login input {
  	line-height: 2.5em !important;
  }



/* Send-01-Styles */

.send-header {
	height: 115px;
}

/* Send-02 Styles */

.header-row th {
	text-align: left;
}

.step-circle {
	line-height: 1.3em;
}


.button-form-wrapper .submit-data {
	line-height: 2.3em
}