@import 'reset'
@import 'typography'
@import 'utilities'

html
  font-size 100%
  color #ffffff

.index-background
  background url(../images/bg-70.jpg) no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover


// form
//   padding-top 1em

#container
  width 100%
  height auto
  font-weight lighter
  margin-left auto
  margin-right auto
  padding-bottom 6em

#footer
  width 100%
  height 4em
  position fixed
  bottom 0
  left 0
  background-color #000000
  text-align center
  color #92b8b8
  line-height 3.9em
  vertical-align middle

.social
  vertical-align middle
  height 4em
  line-height 4em
  img
    vertical-align middle

#login
  // top 10%
  // left 50%
  // height 8em
  // margin-top -4em
  // margin-left -10em
  // position fixed
  // padding-bottom 1.66em
  color #ffffff
  width 20em
  margin 0 auto
  padding-bottom 4em
  margin-top 11em
  input
    background-color #e5fefe
    width 270px
    padding-bottom 1px
    border-width 0em
    margin-bottom 1px
    line-height 2em
    margin-left 0.25em
    color #1d5059
    padding-left 12px
    font-family 'Lato'
    font-size 18px
    font-weight 200
    height 38px
    border-bottom 1px solid #51A7B6
    &::-webkit-input-placeholder
      color #577C81

#inputUser
  width 100%
  padding-bottom 1px

#inputPassword
  width 100%
  border 0em
  padding 0em
  position relative
  button
    position absolute
    top 0px
    right 15px
    margin 0.4em 0.5em
    background-color #93ebdb
    -moz-border-radius 0.166em
    -webkit-border-radius 0.166em
    border-radius 0.25em
    color #ffffff
    cursor pointer
    border none
    line-height 180%
    width 33px
    height 33px
    padding 0
    padding-left 2px

#productName
  color #c0fef3
  background-color #4D9DA2
  background-color rgba(39,125,135,0.56)
  height 1.3em
  font-size 15pt
  font-family 'Lato'
  text-transform uppercase
  text-align center
  margin-left auto
  margin-right auto
  line-height 1.2em
  letter-spacing 0.1em
  position relative
  width 271px

#productIcon
  text-align left
  position absolute
  top -0.2em
  left 0.166em

#vaultaraLogo
  color #fff
  font-size 4em
  text-transform lowercase
  text-align center
  text-shadow 0.03em 0.03em #6ca6a6

.login
  padding-top 2em
  font-size 22px

#homeLogo
  color #fff
  font-size 6em
  text-transform lowercase
  text-align center
  text-shadow 0.03em 0.03em #6ca6a6

#topNav
  line-height 300%
  font-weight bold
  text-align center
  background-color rgba(255,255,255,0.4)
  margin-left auto
  margin-right auto
  list-style-type none
  padding 5px 0
  position absolute
  width 100%
  top 0
  li
    display inline
  .active
    color #00aa9d
  a
    text-decoration none
    text-transform uppercase
    color #111111
    padding 0.833em 1.66em
    font-family 'Lato'
    font-weight normal

#circleContainer
  display inline-block
  padding-top 2%
  width 100%
  text-align center
  margin-bottom 200px

.circleChoice
  display inline-block
  border-radius 50%
  margin 1em 0.5em
  behavior url(PIE.php)
  width 12em
  height 12em
  background #f8f8f8
  border 0.5em solid #f8f8f8
  &:hover
    background-color #cdfff8
    border 0.5em solid #cdfff8
  img
    height 2.66em
    width auto
    padding 0.416em 0em 0.416em 0em

.circleChoiceHeader
  font-weight bold
  font-size 1.1em
  color #252525
  text-transform uppercase
  padding 1.5em 0em 0.83em 0em

.circleChoiceDesc
  font-family Lato
  font-size 0.95em
  color #363636
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  overflow hidden
  padding 0.5em

#companyBanner
  padding 0.5% 0%

.noDecoration, a:link, a:visited
  text-decoration none
  color #f8f8f8

#progressBar
  position relative
  line-height 100%
  font-weight bold
  text-align center
  background-color rgba(255,255,255,0.2)
  margin-left auto
  margin-right auto
  list-style-type none
  img
    display inline
    height 1em
    width auto
    padding 0.25em

.right
  text-align right

// IE 10 and UP

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  // .step-circle
  //   line-height 1.3em

  // Send Step One Styles
  .send-header
    height 115px


  .data-table
    thead
      .header-row
        font-weight bold !important

  // // Send Step 2 Submit Button
  // .button-form-wrapper
  //   .submit-data
  //     line-height 2.3em


  // Send Step 3 Plus Button
  // .expand-button
  //   span
  //     top 4px
  //     bottom 0px
